/*FORMULÄR*/
.contact {
    width: 400px;
    height: fit-content;
    padding: 0px 30px 20px 50px;
    margin-left: 180px;
    margin-top: 50px;
    font-size: 15px;
    border: 1px dotted black;
    border-radius: 20px;
    background:  rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flexbox {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between;
}

.omdig {
    padding-left: 50px;
}

div#one p,
div#two p {
font-weight: bold;
}
