* {
  box-sizing: border-box;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: rgba(76, 175, 80, 0.5)
  color: white;
}

/*RUTORNA*/
td {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-spacing: 20px;
  text-align: center;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  color: rgba(76, 175, 80, 0.5);
  font-family: 'Bahnschrift Light';
  margin-left: 15px;
}

table.one {
  border-spacing: 20px 20px;
}

table.two {
  border-spacing: 20px 20px;
}